{% extends 'layouts/default/main.html' %}
{% load static %}

{% block page_title %} Customer Details {% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12 col-md-12 col-lg-12">
            <h4>Name: {{ customer.get_full_name|upper }}</h4>
            <p class="m-0">Mobile: {{ customer.username }}</p>
            <p>Email: {{ customer.email }}</p>


        </div>
    </div>
{% endblock %}
{% block js %}
    <script type="text/javascript">






    </script>
{% endblock %}