{% extends 'main_single_page.html' %}

{% block title %}Password Reset Confirm{% endblock %}

{% block content %}
    <div class="login-form-custom">
    <h4 class="text-center mb-4"><i><b>CHANGE PASSWORD</b></i></h4>
        <div class="">
            {% if validlink %}
                <form method="post" class="needs-validation" novalidate="">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ next }}">
                    <div id="div_id_new_password1" class="form-group">
                        <div class="">
                            <input type="password" placeholder="New Password" name="new_password1" class="form-control-sm form-control" required="" id="id_new_password1">
                            <small id="hint_id_new_password1" class="form-text text-muted"><ul><li>Your password must contain at least 6 characters.</li></ul>
                            </small>
                        </div>
                    </div>
                    <div id="div_id_new_password2" class="form-group">
                        <div class="">
                            <input type="password" placeholder="Confirm Password" name="new_password2" class="form-control-sm form-control" required="" id="id_new_password2">
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-lg btn-block" tabindex="4">
                            Change password
                        </button>
                    </div>
                </form>
            {% else %}
                <div>
                    It looks like you clicked on an invalid password reset link. Please try again.
                </div>
                <a href="{% url 'password_reset' %}">Request a new password reset link</a>
            {% endif %}
        </div>
    </div>
{% endblock %}

