{% extends 'layouts/default/main.html' %}
{% block title %}Nutrition Point{% endblock %}
{% block page_title %}Nutrition Point List{% endblock page_title %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="card pt-0">
                <div class="card-header bg-transparent">
                    <h4></h4>
                    <div class="card-header-action">
                        <a href="{% url 'nutrition_point_create' %}" class="btn btn-primary"><i class="fas fa-plus"></i> New Nutrition Point</a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive userTable">
                        <table id="datatable" class="bg-white table table-striped table-bordered" style="width:100%">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Nutrition Point</th>
                                <th scope="col">Updated At</th>
                                <th scope="col">Action</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
                <div class="card-footer text-right">
                    <nav class="d-inline-block">

                    </nav>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block css %}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/rowreorder/1.2.7/css/rowReorder.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.6/css/responsive.dataTables.min.css">
{% endblock css %}
{% block js %}
<script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/rowreorder/1.2.7/js/dataTables.rowReorder.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.6/js/dataTables.responsive.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#datatable').DataTable({
                'serverSide': true,
                'stateSave': true,
            rowReorder: {
                selector: 'td:nth-child(2)'
            },
            'responsive': true,
                'ajax': '/api/v1/nutrition_point/?format=datatables',
                'columns': [
                    {
                        'data': 'id',
                        'class': 'text-center',
                        "searchable": false,
                        render: function (data, type, row, meta) {
                            return meta.row + meta.settings._iDisplayStart + 1;
                        }
                    },
                    {'data': 'nutrition_point'},
                    {'data': 'updated_at'},
                    {
                        "data": null,
                        'class': 'text-center',
                        "bSortable": false,
                        "mRender": function (data) {
                            return `
                            <a class="btn btn-outline-warning" href=/nutrition_point/edit/${data['id']}><i class="fa fa-edit"></i></a>
{#                            <a class="btn btn-outline-danger" href=/deposit_extra/${data['id']}/delete><i class="fa fa-trash"></i></a>#}
                            `;
                        }
                    }
                ]
            });
        });
    </script>
{% endblock %}