{% load static %}
<!-- General CSS Files -->
<link rel="stylesheet" href="{% static 'plugins/bootstrap/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css">
<!-- General CSS Files -->
<link rel="stylesheet" href="{% static 'plugins/fontawesome/css/all.min.css' %} ">
<link rel="stylesheet" href="{% static 'plugins/multiselect2/multiple-select.css' %}">
{#<link href="https://unpkg.com/multiple-select@1.4.2/dist/multiple-select.min.css" rel="stylesheet">#}
<link rel="stylesheet" href="{% static 'plugins/ionicons/css/ionicons.min.css' %}">
<link rel="stylesheet" href="{% static 'plugins/select2/select2.min.css' %}">
<link rel="stylesheet" href="{% static 'css/custom.css' %}">
<link rel="stylesheet" href="{% static 'css/jquery.steps.css' %}">
<link rel="stylesheet" href="{% static 'plugins/jquery.growl/stylesheets/jquery.growl.css' %}">
<link rel="stylesheet" href="{% static 'plugins/datatables/DataTables-1.10.16/css/dataTables.bootstrap4.css' %}">
<link href="{% static 'plugins/jquery_datetime/jquery.datetimepicker.min.css' %}" rel="stylesheet" type="text/css" />
{#<link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css">#}
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.6.4/css/buttons.dataTables.min.css">
<!-- CSS Libraries -->
<link rel="stylesheet" href="{% static 'plugins/loaders/loaders.min.css' %}">
<!-- Template CSS -->
<link rel="stylesheet" href="{% static 'css/style.css' %}">


