{% extends 'layouts/default/main.html' %}
{% load crispy_forms_tags %}

{% block page_title %}
    {% if form.instance.pk %}
        Update
    {% else %}
        Add
    {% endif %} Order {% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12 col-md-12 col-lg-12">
            <div class="flat">
                <form action="" method="post" enctype="multipart/form-data">
                    <div class="card-body">
                        {% crispy form %}
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block css %}
{% endblock css %}
{% block js %}
    <script>
        $(function () {
            $('.dynamic-form').each(function () {
                let item_type = $(this).find('.item_type_select select').val()
                if (item_type == 2) {
                    $(this).closest('.dynamic-form').find('.package_select').hide().find('select').prop('disabled', true)
                    $(this).closest('.dynamic-form').find('.product_select').show().find('select').select2()
                } else {
                    $(this).closest('.dynamic-form').find('.package_select').show().find('select').select2()
                    $(this).closest('.dynamic-form').find('.product_select').hide().find('select').prop('disabled', true)
                }
            })
            $('html').on('change', '.item_type_select select', function () {
                let item_type = $(this).val()
                if (item_type == 2) {
                    $(this).closest('.dynamic-form').find('.package_select').hide().find('select').prop('disabled', true)
                    $(this).closest('.dynamic-form').find('.product_select').show().find('select').prop('disabled', false).change().select2()
                } else {
                    $(this).closest('.dynamic-form').find('.package_select').show().find('select').prop('disabled', false).change().select2()
                    $(this).closest('.dynamic-form').find('.product_select').hide().find('select').prop('disabled', true)
                }

            });
            $('html').on('change', '.package_select select', function () {
                let package = $(this).val()
                let __this = $(this)
                if (package) {
                    let url = '/api/v1/packages/' + package + '/';
                    axios.get(url).then(function (response) {
                        let price = response.data.total_amount
                        __this.closest('.dynamic-form').find('.price_select').find('input').val(price)
                        calculate_package_price(__this)
                    }).catch(function (e) {
                        console.log(e)
                    })
                } else {
                    __this.closest('.dynamic-form').find('.price_select').find('input').val(0)
                    calculate_package_price(__this)
                }
            });

            $('html').on('change', '.product_select select', function () {
                let package = $(this).val()
                let __this = $(this)
                if (package) {
                    let url = '/api/v1/product/' + package + '/';
                    axios.get(url).then(function (response) {
                        let price = response.data.total_amount
                        __this.closest('.dynamic-form').find('.price_select').find('input').val(price)
                        calculate_package_price(__this)
                    }).catch(function (e) {
                        console.log(e)
                    })
                } else {
                    __this.closest('.dynamic-form').find('.price_select').find('input').val(0)
                    calculate_package_price(__this)
                }
            });




            $('html').on('change', '.price_select input,.quantity_select input', function () {
                let __this = $(this)
                calculate_package_price(__this)
            })

            let calculate_package_price = function (__this) {
                let price = __this.closest('.dynamic-form').find('.price_select').find('input').val()
                let quantity = __this.closest('.dynamic-form').find('.quantity_select').find('input').val()
                let total_price = price * quantity
                __this.closest('.dynamic-form').find('.total_price_select').find('input').val(total_price)

                calculate_total_price()
            }

            let calculate_total_price = function () {
                let total_amount = 0
                $('.total_price_select input').each(function () {
                    let price = parseFloat($(this).val())
                    total_amount += price
                })

                $('[name="total_amount"]').val(total_amount)
            }

            let autocomplete = new google.maps.places.Autocomplete(
                /** @type {!HTMLInputElement} */ (
                    document.getElementById('id_place')), {
                    // types: ['address'],
                    componentRestrictions: {country: "bd"},
                });
            autocomplete.addListener('place_changed', get_lat_long);

            function get_lat_long() {
                var place = autocomplete.getPlace();
                console.log(place)
                var lat = place.geometry.location.lat(),
                    lng = place.geometry.location.lng();
                set_lat_lng_zone(lat, lng)
            }

            function set_lat_lng_zone(lat, lng) {
                $('[name="latitude"]').val(lat)
                $('[name="longitude"]').val(lng)
                $('[name="zone"]').val('')
                axios.get('/location_service/api/location_zone', {
                    params: {lat: lat, lng: lng}
                }).then(function (response) {
                    let data = response.data
                    if (data) {
                        $('[name="zone"]').val(data.id)
                    }
                }).catch(function (error) {
                    console.log(error)
                })
            }


        });


    </script>
{% endblock js %}