{% load crispy_forms_tags %}
<div class="form_set_container">
    {{ formset.management_form|crispy }}
    {% for form in formset.forms %}
        <div class="{% cycle 'row1' 'row2' %} formset_row-{{ formset.prefix }} row p-0 m-0">
            {% for field in form.visible_fields %}
                {% if not field.name == 'DELETE' %}
                    <div class="col {{ field.name }}_select">
                        {# Include the hidden fields in the form #}
                        {% if forloop.first %}
                            {% for hidden in form.hidden_fields %}
                                {{ hidden }}
                            {% endfor %}
                        {% endif %}
                        {{ field.errors.as_ul }}
                        {{ field|as_crispy_field }}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endfor %}
</div>
<br>
<script type="text/javascript">
    $('.formset_row-{{ formset.prefix }}').formset({
        addText: '<button class="btn btn-success">+</button>',
        deleteText: '<button class="btn btn-danger">-</button>',
        {#deleteCssClass: 'delete-row justify-content-center align-self-center',#}
        prefix: '{{ formset.prefix }}',
        animateForms: true,
        removed: function () {
            calculate_order_price_details()
        }
    });
</script>