{% extends 'layouts/default/main.html' %}
{% block title %}Ordered Product Size Quantity{% endblock %}
{% block page_title %}Ordered Product Size Quantity List{% endblock page_title %}

{% block content %}
    <style>
        .row.table-header {
            background-color: #f5f5f5;
            font-weight: 700;
            color: #333;
        }

        .stable .row {
            margin: 0px;
        }

        .table-header .col {
            padding: 5px;
        }

        .row.table-body {
        }

        .stable-bordered {
            border-top: 1px solid;
            border-left: 1px solid;
            border-color: #a9a9a9;
        }

        .stable-bordered .col, .stable-bordered .col-1, .stable-bordered .col-2, .stable-bordered .col-4 {
            border: 1px solid;
            border-top: none;
            border-left: none;
        }

        .stable .size-quantity {
            padding: 0px;
        }

        .stable-bordered .size-quantity {
        {#border-right: 0px;#}{#border-bottom: 0px;#}
        }

        .size-quantity .col:last-child {
            border-right: none;
        }
    </style>
    <div class="row">
        <div class="col-12">
            <div class="card pt-0">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
{#                            <div class="btn-group" role="group" aria-label="Basic example">#}
{#                                <button type="button" class="btn btn-secondary order_status" value="active">Active#}
{#                                </button>#}
{#                                <button type="button" class="btn btn-secondary order_status" value="upcoming">Upcoming#}
{#                                </button>#}
{#                            </div>#}
                            <section class="section-preview">
                                <!-- Material checked -->
                                <div class="switch" style="font-size: 25px;">
                                    <label>
                                        Live
                                        <input type="checkbox" name="order_status" value="upcoming">
                                        <span class="lever"></span> Upcoming
                                    </label>
                                </div>
                            </section>
                        </div>
                        <div class="col text-left">
                            <button type="button" class="btn btn-outline-primary" onclick="printDiv('product_size_table')"><i
                                        class="fas fa-print"></i> Print
                                </button>
                        </div>
                        <div class="col text-right">


                            <button type="button" class="btn btn-outline-primary" onclick="getPDFFileButton()"><i
                                    class="fas fa-cloud-download-alt"></i> PDF Download
                            </button>
                        </div>
                    </div>


                    <div class="stable stable-bordered" id="product_size_table">
                        <div class="row table-header">
                            <div class="col-1">SL</div>
                            <div class="col">Image</div>
                            <div class="col">Product</div>
                            <div class="col-2">Size</div>
                            <div class="col-2">Quantity</div>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-right">
                    <nav class="d-inline-block">

                    </nav>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script type="text/html" id="table_row">
        <div class="row table-body">
            <div class="col-1 product_id"></div>
            <div class="col product_image">
                <img src="/media/product/latest-890x606.png" style="max-width: 200px; max-height: 75px;">
            </div>
            <div class="col product_name"></div>
            <div class="col-4 size-quantity">

            </div>
        </div>
    </script>

    <script type="text/html" id="empty_table_body">
        <div class="row table-body">
            <div class="col p-3 text-center" style="font-size: 18px; font-weight: 600;">No data available in table</div>
        </div>
    </script>
    <script type="text/html" id="size-quantity">
        <div class="row">
            <div class="col size">3KG</div>
            <div class="col quantity">3</div>
        </div>
    </script>

    <script type="text/javascript">


        $(document).ready(function () {
            load_table_data()
            $('html').on('click', '.order_status', function () {
                let order_type = $(this).val()
                load_table_data(order_type)
            })
            $('html').on('change', '[name="order_status"]', function () {
                let order_type_checked = $(this).is(':checked')
                let order_type = 'active'
                if (order_type_checked) {
                    order_type = 'upcoming'
                }
                load_table_data(order_type)
            })
        });

        let load_table_data = function (order_type = 'active') {

            axios.get('/sales/order/product_size/api/?order_type=' + order_type).then(function (response) {
                $("#product_size_table").find('.table-body').remove()
                if (response.data.length) {
                    console.log(response.data)
                    response.data.forEach(function (item) {
                        let table_row = $($('#table_row').html())
                        table_row.find('.product_id').html(item.id)
                        table_row.find('.product_name').html(item.name)
                        table_row.find('.product_image').find('img').attr('src', item.image)
                        item.product_size_quantity.forEach(function (product_size_quantity) {
                            let size_quantity = $($('#size-quantity').html())
                            size_quantity.find('.size').html(product_size_quantity.product_size)
                            size_quantity.find('.quantity').html(product_size_quantity.count)
                            table_row.find('.size-quantity').append(size_quantity)
                        })
                        $('#product_size_table').find('.table-header').after(table_row)
                    })
                } else {
                    $('#product_size_table').find('.table-header').after($('#empty_table_body').html())
                }
            }).catch(function (error) {
                $("#product_size_table").find('.table-body').remove()
                $('#product_size_table').find('.table-header').after($('#empty_table_body').html())
            })
        }

    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
    <script>
        function printDiv(divName) {
            var printContents = document.getElementById(divName).innerHTML;
            var originalContents = document.body.innerHTML;

            document.body.innerHTML = printContents;

            window.print();

            document.body.innerHTML = originalContents;
        }

        let pdf_generate = function () {
            {#import { robotoFont } from '../../fonts/roboto.font';#}
            var doc = new jsPDF('p', 'pt', 'letter');
            {#let doc = new jsPDF({orientation: 'p', format: 'a4'})#}
            {#console.log(document.getElementById('product_size_table').innerHTML)#}
            {#doc.addFileToVFS('Roboto-Regular-normal.ttf');#}
            {#doc.addFont('Roboto-Regular', 'normal');#}
            {#doc.setFont('Roboto-Regular');#}
            doc.fromHTML(document.getElementById('product_size_table').innerHTML, 1, 1, {
                elementHandlers: function () {
                    return true
                }
            }, function () {
                doc.save('test')
            })

            /*
                        doc.addHTML($('#product_size_table')[0], function () {
                            doc.save('Test.pdf');
                        });

             */
        }

        let convartToPDF = function () {
            html2canvas(document.getElementById('product_size_table'),
                {
                    onrendered: function (canvas) {

                        //create image from web page
                        var img = canvas.toDataURL("image/png");

                        //create pdf object and add image to it, and then save
                        var doc = new jsPDF('p', 'pt', 'letter');
                        doc.addImage(img, 'JPEG', 25, 25, 297);
                        doc.save('abcd.pdf');

                    }
                });
        }

        function getPDFFileButton() {
            // Select which div with id that need to be printed
            // to print body $('body')
            // here printing div with content id $("#content")
            // using html canvas to save as required pdf to image to preserve css
            return html2canvas(document.getElementById('product_size_table'), {
                background: "#ffffff",
                onrendered: function (canvas) {
                    var myImage = canvas.toDataURL("image/jpeg,1.0");
                    // Adjust width and height
                    var imgWidth = (canvas.width * 20) / 150;
                    var imgHeight = (canvas.height * 20) / 150;
                    // jspdf changes
                    var pdf = new jsPDF('p', 'mm', 'a4');
                    pdf.addImage(myImage, 'JPEG', 10, 10, imgWidth, imgHeight); // 2: 19
                    pdf.save('Ordered Product Size Quantity.pdf');
                }
            });
        }

        $("#btnPrint").on("click", function () {
            getPDFFileButton()
        });
    </script>
{% endblock %}
