<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <title>{% block title %} {% endblock %} | Bank Compare BD</title>

    <!-- General CSS Files -->
    {% load static %}
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}" type="image/x-icon">

    <link rel="stylesheet" href="{% static 'plugins/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/fontawesome/css/all.min.css' %}">

    <!-- CSS Libraries -->
    <link rel="stylesheet" href="{% static 'plugins/bootstrap-social/bootstrap-social.css' %}">

    <!-- Template CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
<div id="app">
    <section class="section">


        {% block content %}{% endblock %}

        <div class="simple-footer">
            Copyright &copy; <a href="https://bankcomparebd.com/">BankCompareBD</a> {% now "Y" %}
        </div>
    </section>
</div>

<!-- General JS Scripts -->
<script src="{% static 'plugins/jquery.min.js' %}"></script>
<script src="{% static 'plugins/popper.js' %}"></script>
<script src="{% static 'plugins/tooltip.js' %}"></script>
<script src="{% static 'plugins/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'plugins/nicescroll/jquery.nicescroll.min.js' %}"></script>
<script src="{% static 'plugins/moment.min.js' %}"></script>
<script src="{% static 'js/stisla.js' %}"></script>
<script>
    $(function () {
        let username = $('[name="username"]').val()
        if (username == 'False' || username.length == 0) {
            window.location.href = '/accounts/login/'
        }
    })
</script>
</body>
</html>