{% extends 'main.html' %}
{% load static availability_tags %}

{% block page_title %}Salary Structure List{% endblock page_title %}

{% block content %}

    <div class="row">
        <div class="col-12">
            <div class="card pt-0">
                <div class="card-header bg-transparent">
                    <h4></h4>
                    {% if perms.auth.add_user %}
                        <div class="card-header-action ">
                            <a href="{% url 'salary_structure_add' %}" class="btn btn-primary"><i class="fas fa-plus"></i> New
                                Salary Structure </a>
                        </div>
                    {% endif %}
                </div>
                <td class="card-body">
                    {% if salary_structure %}
                        <div class="table-responsive userTable">
                            <table class="table table-sm ">
                                <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Employee</th>
                                    <th scope="col">Gross Salary</th>
                                    <th scope="col">Max Commission</th>
                                    {% if perms.auth.change_user or perms.auth.delete_user %}
                                        <th scope="col">Action</th>
                                    {% endif %}
                                </tr>
                                </thead>
                                <tbody>
                                {% for item in salary_structure %}
                                    <tr height="54px">
                                        <td class="align-middle">{{ forloop.counter}}</td>
                                        <td class="align-middle">{{ item.employee}}</td>
                                        <td class="align-middle">{{ item.gross_salary }}</td>
                                        <td class="align-middle">{{ item.max_commission }}</td>
                                        {% if perms.auth.change_user or perms.auth.delete_user %}
                                            <td class="align-middle">
                                                {% if perms.auth.change_user %}
                                                    <a href="{% url 'salary_structure_update' item.id %}"
                                                       class="btn btn-outline-warning">
                                                        <i class="far fa-edit"></i>
                                                    </a>
                                                {% endif %}
                                                {% if perms.auth.delete_user %}
                                                    <a href="{% url 'salary_structure_delete' item.id %}"
                                                       class="btn btn-outline-danger">
                                                        <i class="fas fa-trash"></i>
                                                    </a>
                                                {% endif %}
                                            </td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% else %}
                        <div>
                            No Data Found!
                        </div>
                    {% endif %}
                </div>
{#                <div class="card-footer text-right">#}
{#                    <nav class="d-inline-block">#}
{##}
{#                    </nav>#}
{#                </div>#}
            </div>
        </div>
    </div>

{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/account.css' %}">
{% endblock %}

{% block js %}
    <script type="text/javascript">
        $("table").dataTable();
    </script>
{% endblock %}